.app-bar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: red;
    margin: 0;
    margin-bottom: 10px;
    z-index: 9999;

    & .app-bar-content {
        padding: 5px 20px;
    }
}