h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'proxima-nova', sans-serif;
}

img,
figure {
    max-width: 100%;
}

.main-content {
    @include media-breakpoint-up(sm) {
        padding-right: 80px;
        padding-left: 80px;
    }

    @include media-breakpoint-up(md) {
        padding-right: 40px;
        padding-left: 40px;
    }

    @include media-breakpoint-up(lg) {
        padding-right: 15px;
        padding-left: 15px;
    }
}

body {
    overflow-y: auto;
    overflow-x: hidden;
}