h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'proxima-nova', sans-serif;
}

img,
figure {
    max-width: 100%;
}

body {
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0;
    padding:0;
}

.main-content {
    padding-top: 80px;
}

.container {
    width: auto;
}