.featureBox {
  background-color: $background-primary;
  padding: 10px 15px;
  margin: 10px 15px;
  min-height: 250px;
  text-align: center;
  color: $font-primary;
  border-radius: $boarder;

  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;

  &:hover {
    cursor: pointer;
    // filter: brightness(1.15);
  }

  & h4 {
    padding: 10px 0 5px;
    color: $font-secondary;
    font-size: 2.2rem;
    font-weight: 600;
  }

  & p {
    margin-bottom: 0;
  }

  & .inner {
    vertical-align: middle;
  }

  & .image {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    & img {
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
  }
}
