$container-max-widths: (
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
);

$grid-columns: 12;
$grid-gutter-width: 30px;

@mixin make-container($max-widths: $container-max-widths, $padding-x: $grid-gutter-width) {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: $padding-x / 2;
    padding-left: $padding-x / 2;

    @each $breakpoint, $container-max-width in $max-widths {
        @if $container-max-width !=null {
            @media (min-width: $container-max-width) {
                max-width: $container-max-width;
            }
        }
    }
}

@mixin make-row() {
    display: flex;
    flex-wrap: wrap;
    margin-right: -$grid-gutter-width / 2;
    margin-left: -$grid-gutter-width / 2;
    
}

@mixin make-col-ready() {
    position: relative;
    width: 100%;
    min-height: 1px;
    // padding-right: $grid-gutter-width / 2;
    // padding-left: $grid-gutter-width / 2;
}

@mixin make-col($size, $columns: $grid-columns) {
    flex: 0 0 percentage($size / $columns);
    max-width: percentage($size / $columns);
}

// Beispiel für Klassen für das Grid-System
.container {
    @include make-container();
}

.row {
    @include make-row();
}

.col {
    @include make-col-ready();

    @for $i from 12 through 1 {
        &-sm-#{$i} {
            @include media-breakpoint-up(sm) {
                @include make-col-ready();
                @include make-col($i);
            }
        }
    }

    @for $i from 12 through 1 {
        &-md-#{$i} {
            @include media-breakpoint-up(md) {
                @include make-col-ready();
                @include make-col($i);

            }
        }
    }



    @for $i from 12 through 1 {
        &-lg-#{$i} {
            @include media-breakpoint-up(lg) {
                @include make-col-ready();
                @include make-col($i);
            }
        }
    }



    @for $i from 12 through 1 {
        &-xl-#{$i} {
            @include media-breakpoint-up(xl) {
                @include make-col-ready();
                @include make-col($i);
            }
        }
    }

}