$container-max-widths: $breakpoints;

$grid-columns: 12;
$grid-gutter-width: 30px;

@mixin make-container($max-widths: $container-max-widths, $padding-x: $grid-gutter-width) {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: calc($padding-x / 2);
    padding-left: calc($padding-x / 2);

    @each $breakpoint, $container-max-width in $max-widths {
        @if $container-max-width !=null {
            @media (min-width: $container-max-width) {
                // max-width: $container-max-width;
            }
        }
    }
}

@mixin make-row() {
    display: flex;
    flex-wrap: wrap;
    margin-right: calc(-1 * ($grid-gutter-width / 2));
    margin-left: calc(-1 * ($grid-gutter-width / 2));

}

@mixin make-col-ready() {
    position: relative;
    width: 100%;
    min-height: 1px;
    // padding-right: $grid-gutter-width / 2;
    // padding-left: $grid-gutter-width / 2;
}

@mixin make-col($size, $columns: $grid-columns) {
    flex: 0 0 percentage(calc($size / $columns));
    max-width: percentage(calc($size / $columns));
}

// Beispiel für Klassen für das Grid-System
.container {
    @include make-container();
}

.row {
    @include make-row();
}

.col {
    @include make-col-ready();

    @for $i from 12 through 1 {
        &-xs-#{$i} {
            @include make-col-ready();

            @include media-breakpoint-up(xs) {
                @include make-col($i);
            }
        }
    }

    @for $i from 12 through 1 {
        &-sm-#{$i} {
            @include make-col-ready();

            @include media-breakpoint-up(sm) {
                @include make-col($i);
            }
        }
    }

    @for $i from 12 through 1 {
        &-md-#{$i} {
            @include make-col-ready();

            @include media-breakpoint-up(md) {
                @include make-col($i);

            }
        }
    }

    @for $i from 12 through 1 {
        &-lg-#{$i} {
            @include make-col-ready();

            @include media-breakpoint-up(lg) {
                @include make-col($i);
            }
        }
    }

    @for $i from 12 through 1 {
        &-xl-#{$i} {
            @include make-col-ready();

            @include media-breakpoint-up(xl) {
                @include make-col($i);
            }
        }
    }


    @for $i from 12 through 1 {
        &-xxl-#{$i} {
            @include make-col-ready();

            @include media-breakpoint-up(xxl) {
                @include make-col($i);
            }
        }
    }

}