$breakpoints: (
  xs: 300,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

// https://www.color-hex.com/color-palette/1039493
$background-primary: #a4bbd1;
$background-secondary: #5d8aa8;

$font-primary: #000000;
$font-secondary: #152a37;

$primary: #252525;

$boarder: 2px;